

body {
    background-color: #1d1135;
    background-image: url(img/wp2342140.jpeg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-container {
    background-color: #1d1135;
    border: solid #04C1E2 5px;
    display: flex;
    position: relative;
    padding: 0px;
    
}

.nav-img {
    border: solid #04C1E2 2px;
    width: 150px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 15px;
    
}

.nav-h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px 20px;
    
}

.nav-list {
    list-style: none;
    margin-left: 100px;
}



.nav-list li {
    color: white;
    display: inline-block;
    font-size: 40px;
    padding: 50px 20px;
}

.nav-list li:not(:last-child) {
    border-right: #04C1E2 dotted 5px;
}

.nav-list li:not(:first-child) {
    border-left: #0c164f solid 8px;
}

.nav-p {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 20px;
    color: #04C1E2;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.nav-list a:visited {
    color: white;
}

.nav-list li a:hover {
    color: #5643fd;
}

.beg-list {
    display: none;
    

}

.beg-list li {
    padding-top: 15px;
    
}

.beg-list li:not(:last-child) {
    border-bottom: rgba(245, 245, 245, 0.582) solid 1px;
    padding-bottom: 20px;
}

.beg-list a{
    text-decoration: none;
}

.beg-list a:visited {
    color: white;
}

.beg-list a:hover{
    color: #5643fd;
}


.navbar ul li:hover .dropdown1 ul li {
    display: block;
    list-style: none;
    background-color: #1d1135;
    width: auto;
    height: auto;
    font-size: 30px;
    border-bottom: #04C1E2 solid 5px;
    border-left: #0c164f solid 5px;
    border-right: #04C1E2 dotted 5px;
    padding: 15px 19.5px;
    position: absolute;
    left: 34rem;
    top: 8rem;
    z-index: 1;
}

